.app {
  display: flex;
  flex-direction: column;

  main {
    height: calc(90vh - 56px);
  }

  footer {
    height: 10vh;
    padding: 2vh 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f9fa;

    .footer-content{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }
  }
}
